@charset "utf-8";

@font-face {
    font-family: 'Edmond Sans';
    src: url('fonts/edmondsans-regular-webfont.woff2') format('woff2'),
         url('fonts/edmondsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Edmond Sans';
    src: url('fonts/edmondsans-medium-webfont.woff2') format('woff2'),
         url('fonts/edmondsans-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Brownhill Script';
    src: url('fonts/brownhill_script-webfont.woff2') format('woff2'),
         url('fonts/brownhill_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	
	font: 100% 'Edmond Sans', sans-serif;
}

p {
	margin: 0;
}

a, a:active {
	text-decoration: none;
	color: inherit;
}

.mobilenav {
	width: 100%;
	background: #fff;
	overflow: hidden;
	
	position: fixed;
	z-index: 101;

	text-align: right;
	font-size: 140%;
}

.icon {
	line-height: 200%;
	margin: 0 4%;
}

#mylinks {
	display: none;
}

#mylinks ul {
	margin: 0;
	padding: 0 0 1%;
}

#mylinks ul li {
	list-style-type: none;
	
	text-align: center;
	font-size: 80%;
	font-weight: 600;
	margin: 0 0 3%;
}

nav {
	display: none;
}

/* ----------------------------------------- */

#bahay {
	background-image: url('images/self_tall.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left center;
	height: 100vh;
	width: 100vw;
}

#lumulutang {
	width: 75%;
	
	position: absolute;
	right: 4%;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	
	text-align: right;
}

#lumulutang h1 {
	font: 320% 'Brownhill Script', cursive;
	font-weight: normal;
	margin: 0 0 1%;
}

#lumulutang p {
	font-size: 90%;
	margin-bottom: 6%;
}

#lumulutang p a {
	border-bottom: 3px solid #FCD23F;
}

#icons a {
	margin-left: 5%;
	font-size: 105%;
}

#icons a span {
	font-size: 80%;
	margin: 0 0 0 1%;
}

/* ----------------------------------------- */

#mobilemenu {
	background: #fff;
	padding: 0 0 4%;
	
	text-align: center;
	font-size: 80%;
}

#mobilemenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#mobilemenu ul li {
	display: inline;
	margin: 0 6%;
}

.active {
	border-bottom: 3px solid #FCD23F;
}

#menu {
	display: none;
}

#nilalaman {
	width: 80%;
	margin: 0 auto;
}

#abo {
	background: #F4F4F4;
	margin: 0;
	padding: 0 5%;
}

section {
	padding-top: 40%;
}

section h1 {
	text-align: center;
	font-weight: normal;
	font: 190% 'Brownhill Script', cursive;
	
	margin: 0 0 3%;
}

#print {
	padding-bottom: 10%;
}

article img {
	width: 100%;
}

#logo img {
	padding: 0 10% 12%;
}

.container {
	position: relative;
	width: 100%;
	margin: 0 0 6%;
}

.product img {
  padding: 5%;
}

.image {
	display: block;
	height: auto;
}

.overlay {
	display: none;
}

/* ----------------------------------------- */

.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 105;
	
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(0, 0, 0, .5);
}

.bumalik {
	position: fixed;
	top: 2.5%;
	left: 4%;
	z-index: 120;
}

.bumalik a {
	color: #FCD23F;
	font-size: 180%;
}

.modal-content {
	display: block;
	width: 90%;
	margin: auto;
	text-align: center;
}

.modal-content img {
	max-width: 100%;
}

.magpalutang, .mobilemagpa {
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}